*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1.5px solid #004A87;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s;
    padding: 10px;
    width: 20%;
    min-width: 300px;
    border-radius: .625rem;
    margin:1.25rem;
}

img{
    width: 40px;
    height: 40px;
}

.container-card{
    text-align: center;
}

.button{
    margin-top: 5px;
    width: 150px;
    height: 30px;
    border: none;
    background-color: #004A87;
    color: white;
    border-radius: 10px;
}